* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: rgb(235, 146, 63);
  color: white;
  width: 100%;
  z-index: 1000;
}

.logo {
  width: 70px;
  height: 70px;
}

.nav-items > ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

.nav-items > ul > li {
  font-size: 18px;
}

.restaurent-card {
  width: 250px;
  height: 350px;
  box-shadow: -1px -1px 20px -5px rgba(0, 0, 0, 0.57);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
  perspective: 1000px;
}

.restaurent-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.res-img {
  width: 100%;
}

.restaurent-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.main-body {
  padding-top: 80px;
  max-width: 100%;
}

.filter {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.filter-btn {
  border: none;
  background: none;
  padding: 10px;
  background-color: rgb(235, 146, 63);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.filter-btn:hover {
  background-color: rgb(248, 141, 26);
  transform: scale(1.05);
}